<div class ="general-class">
        <app-app-header></app-app-header>
        <div class = "container-fluid" >
             <div class="row">
                    <div class="col-3 selector-bar">
                        <app-my-selector-bar></app-my-selector-bar>
                    </div>
                    <div class="col-9">                
                        <router-outlet></router-outlet>
                    </div>
            </div>
        </div>
    <app-app-footer></app-app-footer>
</div>  

