<div class = "container-fluid">
    <ul class="dashboard-playlists">
        <div class="Row">
        <li *ngFor="let Playlist of playlists" class="col-4">
                  <div class="card" style="width: 18rem;">
                      <div class="card-body">
                        <h5 class="card-title">{{Playlist.name}}</h5>
                        <h6 class="card-subtitle mb-2">Genre: {{Playlist.genre}}</h6>
                        <p class="card-text">Description: {{Playlist.description}} </p>
                        <p>Rate: {{Playlist.rate}}</p>
                        <p>Author: {{Playlist.author}}</p>
                        <a href="#" (click)="removePlaylist(Playlist)" class="btn btn-danger">Delete</a>
                        <a href="#" routerLink = "/edit/{{Playlist._id}}" class="btn btn-primary">Edit</a>
                      </div>
                  </div>
        </li>
      </div>
    </ul>
</div>
<div *ngIf="playlists.length == 0">
    <h1>There are no playlists yet..</h1>
</div>

         
