[class*='col-4'] {
    float: left;
    padding-right: 20px;
    padding-bottom: 20px;
  }
.card{
    background-color: #3e4444;
}
.card-title{
    color: white;
}
.card-subtitle{
    color: white;
}
.card-text{
    color: white;
}
.dashboard-playlists{
    list-style-type: none;
}

.routerClass{
    background-color: #17852f81
}